.mainpage_uploadicon {
    height: 60px;
    width: 50px;
    margin-top: 10px;
}

.mainpage_divider {
    height: 0px;
    width: 220px;
    border: 1px solid #dbdbdb;
    margin-top: 40px;
}

.mainpage_container {
    text-align: center;
    margin: 0px 10px 0px -20px;
    display :flex ;
    justify-content: center ;
}

.fileupload > input {
    display: none;
}
.upload_text {
    text-align: center;
    margin-left: -25px;
}